body {
  margin: 0;
  height: 100vh;
  overflow-y: auto;
  background: radial-gradient(circle at top left, #1e3a8a, #020617);
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  display: flex;
  gap: 40px;
  align-items: center;
}
h1 {
  text-align: center;
  letter-spacing: 6px;
  margin-bottom: 20px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ball {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: radial-gradient(circle at top, #fde047, #eab308);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 96px;
  font-weight: bold;
  color: #000;
  box-shadow: 0 0 50px rgba(250, 204, 21, 0.9),
    inset 0 0 25px rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
}
.controls button {
  padding: 12px 32px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 6px;
}
.controls button:first-child {
  background: #22c55e;
}
.controls button:last-child {
  background: #ef4444;
  color: #fff;
} /* BẢNG SỐ ĐÃ QUAY */
.board {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.board h2 {
  text-align: center;
  margin-bottom: 12px;
}
.numbers {
  display: grid;
  grid-template-columns: repeat(10, 42px);
  gap: 8px;
  justify-content: center;
}
.num {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  background: #020617;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  opacity: 0.4;
  transition: 0.2s;
}
.num.called {
  background: linear-gradient(145deg, #22c55e, #16a34a);
  color: #000;
  opacity: 1;
  font-weight: bold;
  box-shadow: 0 0 12px rgba(34, 197, 94, 0.8);
}


@media (max-width: 768px) {
  body {
    height: auto;
  }
  .ball {
    width: 150px;
    height: 150px;
    font-size: 4rem;
  }
  .app {
    flex-direction: column;  
  }
  .board {
    width: 95%;
  }
  .numbers {
    grid-template-columns: repeat(7, 42px);
  }
}